{{> header}}
  {{> navbar}}

  <!-- Add My Project -->
  <div class="container form-container w-50 py-3 py-lg-5">
    <h2 class="text-center fw-semibold mb-4">Add Project</h2>
    {{> alert}}
    <form method="post" action="/project/add" enctype="multipart/form-data" autocomplete="off">
      <div class="mb-3">
        <label for="name" class="form-label fw-semibold">Project Name</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div class="mb-3 d-flex gap-3">
        <div class="w-100">
          <label for="startDate" class="form-label fw-semibold">Start Date</label>
          <input type="date" class="form-control" name="startDate" />
        </div>
        <div class="w-100">
          <label for="endDate" class="form-label fw-semibold">End Date</label>
          <input type="date" class="form-control" name="endDate" />
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-semibold" >Description</label>
        <textarea class="form-control" name="description" ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label fw-semibold">Technologies</label>
        <div class="row">
          <div class="col-4">
            <input type="checkbox" class="form-check-input" name="technologies" value="HTML" />
            <label for="technologies">HTML</label>
          </div>
          <div class="col-8">
            <input type="checkbox" class="form-check-input" name="technologies" value="JavaScript"/>
            <label for="technologies">JavaScript</label>
          </div>
          <div class="col-4">
            <input type="checkbox" class="form-check-input" name="technologies" value="CSS"/>
            <label for="technologies">CSS</label>
          </div>
          <div class="col-8">
            <input type="checkbox" class="form-check-input" name="technologies" value="React JS"/>
            <label for="technologies">React JS</label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label fw-semibold">Upload Image</label>
        <input type="file" class="form-control" name="image" />
      </div>
      <button type="submit" class="btn btn-dark px-4 mt-3">Submit</button>
    </form>
  </div>

{{> footer}}