{{#if messages.success}}
  <div class="alert alert-success" role="alert">
    <i class="fa-solid fa-circle-check me-1"></i>
    {{messages.success}}
  </div>
{{/if}}

{{#if messages.error}}
  <div class="alert alert-danger" role="alert">
    <i class="fa-solid fa-triangle-exclamation me-1"></i>
    {{messages.error}}
  </div>
{{/if}}

{{#if messages.welcome}}
  <div class="alert alert-primary" role="alert">
    <b>{{messages.welcome}} {{user.name}}!</b>
    Welcome back!
  </div>
{{/if}}